h1 {
  text-align: center;
  font-size: 61px;
  color: blue;
  background-color: red
}

h3 {
  text-align: center;
  margin: 40px auto auto auto;
}

img {
  display: block;
  margin: 50px auto;
  border: 4px black

}
h5 {
  text-align: center;
  padding: 0px
}
a {
  color: black
}
@media (min-width: 500px) {
 body {
     background-color: beige;
 }
 }
 @media (max-width: 499px) {
 body {
     background-color: #52764e;
 }
