h1 {
  text-align: center;
  font-size: 61px;
  color: blue;
  background-color: red
}

h3 {
  text-align: center;
  margin: 40px auto auto auto;
}

img {
  display: block;
  margin: 50px auto;
  border: 4px black 

}
h5 {
  text-align: center;
  padding: 0px
  margin: auto;

}
body {
  background-color: beige;
  margin: 40px
}
a {
  color: black
}
